.contacts{    
    width: 500px;
    margin: auto;
    margin-top: 40px;    
}

.contacts .list{
    display: flex;        
    border-radius: 15px;
    overflow: hidden;
    background-color: rgb(255, 219, 164);
    margin-bottom: 20px;
}

.contacts .list .img-profile{    
    padding: 20px;
    padding-right: 0;
    flex: .5;
}

.contacts .list .img-profile img{
    border-radius: 50%;
    width: 90%;
}

.contacts .list .detail{
 flex: 1;    
 margin: auto;
}

.contacts .list .detail .name{
    font-weight: bold;
    font-size: 1.1em;
}